@import "src/styles/colors.scss";

.header {
  background-color: rgba(211, 211, 211, 0.9);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  border-bottom: 2px solid $color-light-grey;
  opacity: 1;
  position: fixed;
  z-index: 3;
}

.header_first {
  color: $color-black-olive;
  margin-left: 20px;
}

.header_second {
  color: $color-dark-green;
}

.navigation {
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 500px;
}

.navigation a {
  color: $color-white;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 10px;
  margin: 0 50px;
  font-weight: bold;
}

.navigation a:hover {
  border-bottom: 2px solid $color-dark-green;
}
