@import "../../styles/colors.scss";

.training_container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-top: 150px;
  text-align: center;
  width: 100vw;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 272px);
  gap: 10px;

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 10px;
    }

    select {
      margin-bottom: 20px;
    }

    button {
      padding: 5px 10px;
      cursor: pointer;
    }
  }

  table {
    border-collapse: collapse;
    width: 1400px;

    th,
    td {
      border: 1px solid #ddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}

.training_container form button,
td button,
.add {
  background-color: $color-viridian;
  color: $color-white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 15px;
}

.training_container form button:hover,
td button:hover {
  background-color: $color-dark-green;
}

.exercise_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.exercise_container > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add {
  margin-bottom: 10px;
}

.add:hover {
  background-color: $color-dark-green;
}